
.general {

width: 100%;
height: 100%;
background-color: white;
/* padding-bottom: 2rem; */
/* position: absolute; */
box-shadow: 0px 10rem 0px white;

}

.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
  }
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  .box > img {
    width: 150%;
    height: calc(70% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width:100%;
    height: 80%;
  }
  .pa {
    font-size: 1.8pc;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    margin-top: 1rem;
    color: tomato;
  }

.idk {
width: 70%;
  /* border: solid tomato; */
  margin:0 auto;
  padding-top: 5rem;
  text-align: center;
  font-size: 2pc;
  /* font-family: sans-serif; */
}


  .brie {



/* border: solid tomato; */

  }