.footer {
/* border: tomato solid; */
position: static;

/* width: 100%; */
}


.FTV   {

    /* border: tomato solid; */
    
    }

.FTV  ul li {

float: right;
margin-left: 1rem;
margin-top: 1.9rem;

}

