


.err {
  padding: 10rem;
  /* border: tomato solid; */
  width: fit-content;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  height: 66vh;
  text-align: center;
  opacity: 0.6;
}

.err img {
  width: 250px;
}
.err p {
  /* margin-left: 1rem; */
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1.5pc;
}

.info {
  /* border: solid tomato; */
  width: 70%;
  margin: 5rem auto;
  height: fit-content;
}

.info h2 {
  /* border: solid tomato; */
  display: inline;
  font-family: sans-serif;
  color: hsla(0, 0%, 0%, 0.548);
  margin-left: 2rem;
  font-size: 1.8pc;
}

.userProfileImg {
  width: 150px;
  border-radius: 75px;
  box-shadow: 0px 3px 7px #00000067;
}



.folders {
width: 70%;
margin: 0rem auto;
/* border: solid rgb(31, 29, 29); */
display: flex;
justify-content: space-around;
text-align: center;

}

.folders input[type=submit] {

border: solid tomato;

background-color: transparent;
border-style: none;

}


.one-model {
  width: 75%;
  height: 500px;
  margin: 1.5rem auto;
  /* border: solid rgb(31, 29, 29); */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;

}


.one-model .card {

  /* border: solid tomato; */
  width: 17rem;
  height: 17rem;
  /* padding: 2rem; */
  

}